<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <!-- [1] Invoke $modal.$hide() on click -->
                <button type="button" class="close"
                        ng-click="$hide()">&times;
                </button>
                <h4 class="modal-title">Add New Network for Visualizing</h4>
            </div>

            <!-- [2] Name this form for validation purposes -->
            <form role="form" id="add-list" name="listForm">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="network-name">Network Name</label>
                        <!-- [3] Bind input to watchlist.name -->
                        <input type="text"
                               class="form-control"
                               id="network-name"
                               placeholder="Name of network from Dev2/cravat account, i.e., Small Corpus READ ONLY"
                               ng-model="watchlist.name"
                               required>
                    </div>

                    <div class="form-group">
                        <label for="network-UUID">Network UUID</label>
                        <!-- [4] Bind input to watchlist.description -->
                        <input type="text"
                               class="form-control"
                               id="network-UUID"
                               maxlength="40"
                               placeholder="UUID of network from Dev2/cravat account, i.e., c10c19df-e2bd-11e5-ae41-06832d634f41"
                               ng-model="watchlist.UUID"
                               required>
                    </div>
                </div>

                <div class="modal-footer">
                    <!-- [5] Create list on click, but disable if form is invalid -->
                    <button type="submit"
                            class="btn btn-success pull-left"
                            ng-class="{'disabled' : !listForm.$valid}"
                            ng-click="createList()">Create
                    </button>
                            <!--ng-disabled="!listForm.$valid">Create</button> -->
                    <button type="button"
                            class="btn btn-danger pull-left"
                            ng-click="$hide()">Cancel
                    </button>
                </div>
            </form>

        </div>
    </div>
</div>
