<div class="modal" tabindex="-1" role="dialog">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">{{title}}</h4>
            </div>

            <div class="modal-body">
                <div ng-bind-html="message">

                </div>

                <div class='text-danger'>
                    <strong>{{errors}}</strong>
                </div>

                <div class='text-success'>
                    <strong>{{progress}}</strong>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary pull-left" ng-click="confirm()">Confirm</button>
                <button class="btn btn-default pull-left" ng-click="cancel()">Cancel</button>
            </div>

        </div>

    </div>

</div>