<div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
        <div class="panel panel-info">

            <div class="panel-heading">
                Find Related Networks by Gene List
            </div>

            <div class="panel-body">
                <!--<form ng-submit="submit()" ng-controller="AnalysisCtrl" id="analysisCtrlForm">-->
                    <textarea
                            style="resize:none; width:100%"
                            rows="5"
                            ng-model="rankedNetworksList.geneList">
                    </textarea>

                    <div>
                        <label>Networks to Search</label>
                    </div>
                
                    <select class="form-control input-md" ng-model="rankedNetworksList.eSetSelected">
                         <option ng-repeat="eset in rankedNetworksList.eSets" value="{{eset}}">{{eset}}</option>
                    </select>


                    <input type="submit"
                           class="btn btn-primary"
                           id="submit"
                           ng-disabled="!rankedNetworksList.geneList"
                           ng-click="submit()"
                           value="Submit" />


                    <input type="reset"
                           class="btn btn-default"
                           ng-disabled="!rankedNetworksList.geneList"
                           value="Clear"
                           ng-click="clearInput()">
               <!-- </form>-->
            </div>

        </div>
    </div>

    <!-- Right Column -->
    <div class="col-md-9">

        <!--
        <div>
          <strong>Visualize Test : </strong>
          <a target="_blank" href="#/visualizeOriginal/ceabdd01-fdd1-11e5-a5bc-0660b7976219">' + "a6b1 and a6b4" </a>'
        </div>
         -->
        <div class="panel panel-info">

            <div class="panel-heading">
                Ranked List Of Related Networks
            </div>


            <div class="panel-body">
               <pre ng-show="rankedNetworksList.responseJSON">
                  <span ng-bind-html="rankedNetworksList.responseJSON"></span>
               </pre>
            </div>


        </div>

    </div>

</div>
