<div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
        <div class="panel panel-info">

            <div class="panel-heading">
                Gene List for Cravat
            </div>

            <div class="panel-body">
                <form ng-submit="submit()" ng-controller="CravatCtrl" id="cravatCtrlForm">

                    <textarea
                            style="resize:none; width:100%"
                            rows="5"
                            ng-model="geneList">
                    </textarea>

                    <input type="submit"
                           class="btn btn-default"
                           id="submit"
                           ng-disabled="!geneList"
                           value="Submit" />

                    <input type="reset"
                           class="btn btn-default"
                           ng-disabled="!geneList"
                           value="Clear"
                           ng-click="clearInput()">

                </form>
            </div>

        </div>
    </div>

    <!-- Right Column -->
    <div class="col-md-9">

        <div class="panel panel-info">

            <div class="panel-heading">
                Ranked List Of Networks From Cravat
            </div>


            <div class="panel-body">
                <!--<h4>results of Cravat enrichment here</h4> -->

                {{rankedNetworksList.responseJSON}}
                <!--<div class="cytoscape-canvas" id="cytoscape-canvas"></div> -->
            </div>


        </div>

    </div>

</div>