<div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
        <cravat-enrich-request></cravat-enrich-request>
    </div>

    <!-- Right Column -->
    <div class="col-md-9">

        <div class="panel panel-info">

            <div class="panel-heading">
                Ranked List Of Networks From Cravat
            </div>


            <div class="panel-body">
                <!--<h4>results of Cravat enrichment here</h4> -->

                {{rankedNetworksList.responseJSON}}
                <!--<div class="cytoscape-canvas" id="cytoscape-canvas"></div> -->
            </div>


        </div>

    </div>

</div>