<div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
        <watch-networks-panel></watch-networks-panel>
    </div>

    <!-- Right Column -->
    <div class="col-md-9">

        <div class="panel panel-info">

            <div class="panel-heading">
                <strong>Cytoscape Viewer</strong>
            </div>

            <div class="panel-body">
                <div class="cytoscape-canvas" id="cytoscape-canvas"></div>
            </div>

        </div>

    </div>

</div>

