<div class="row">

    <!-- One column only that takes all screen  -->
    <div class="col-md-9">

        <div class="panel panel-info">

            <div class="panel-heading">
                Visualizing Enriched Network
                <strong><span ng-bind-html="visualizer.networkName"></span></strong>
            </div>

            <div class="panel-body">
                <div ng-if="visualizer.errorMessage" ng-bind-html="visualizer.errorMessage" class="alert alert-danger"></div>

                <div ng-if="!visualizer.errorMessage" class="cytoscape-canvas" id="cytoscape-canvas"></div>
            </div>

        </div>
    </div>

    <div class="col-md-3">

        <div class="panel panel-info">

            <div class="panel-heading">
                Network Properties
            </div>

            <div class="panel-body">

                <div class="wrapLongLine rowWith1emBottomPad"
                     ng-repeat='property in visualizer.networkProperties'>
                    <strong><span ng-bind="property.n"></span></strong> : <span ng-bind="property.v"></span>

                </div>
            </div>
        </div>
    </div>

</div>