<div class="row">
    <!-- Left Column -->
    <div class="col-md-3">
        <watch-networks-panel></watch-networks-panel>
    </div>

    <!-- Right Column -->
    <div class="col-md-9">

        <div class="panel panel-info">

            <div class="panel-heading">
                <strong>Cytoscape Viewer</strong>
            </div>

            <div class="panel-body">
                <div class="cytoscape-canvas" id="cytoscape-canvas"></div>
            </div>

        </div>


        <div ng-show="viewer.queryError">
            <p>This is the error returned from the cx conversion service</p>
            {{viewer.queryError}}
        </div>

        <div class="json-block" ng-show="viewer.prettyCyjsStyle">
            <h3>URL used to get cyjs data : {{viewer.cyjsURL}}</h3>
        </div>

        <div class="json-block" ng-show="viewer.prettyCyjsStyle">
            <h3>This is the cyjs style returned from the cx conversion service, modified to map names to 'contents'</h3>
            <div class="preformatted">
                {{viewer.prettyCyjsStyle}}
            </div>
        </div>

        <div class="json-block" ng-show="viewer.prettyCyjsNodes">
            <h3>These are the cyjs nodes returned from the cx conversion service</h3>
            <div class="preformatted">
                {{viewer.prettyCyjsNodes}}
            </div>
        </div>

        <div class="json-block" ng-show="viewer.prettyCyjsEdges">
            <h3>These are the cyjs edges returned from the cx conversion service}</h3>
            <div class="preformatted">
                {{viewer.prettyCyjsEdges}}
            </div>
        </div>

    </div>


</div>
